<ul class="nav nav-tabs nav-fill w-100 lead mb-4" role="tablist">
  <li class="nav-item">
    <a href="<%= admin_path %>" class="nav-link active fade-page">Home</a>
  </li>
  <li class="nav-item">
    <a href="<%= admin_announcements_path %>" class="nav-link fade-page">Announcements</a>
  </li>
  <li class="nav-item">
    <a href="<%= admin_nodes_path %>" class="nav-link fade-page">Runners</a>
  </li>
  <li class="nav-item">
    <a href="<%= admin_users_path %>" class="nav-link fade-page" >Users</a>
  </li>
</ul>