
<% if ! Announcement.all.empty?
     Announcement.all.order(created_at: :asc).each do |a|  %>
  <div class="alert alert-dismissible d-none d-md-block bg-primary text-white py-4 py-md-3 px-0 mb-0 rounded-0 border-0">
  <div class="container">
    <div class="row no-gutters align-items-md-center justify-content-center">
      <div class="col-lg-11 col-md d-flex flex-column flex-md-row align-items-md-center justify-content-lg-center">
        <div class="mb-3 mb-md-0"><strong><%= raw a.announcements %></strong></div>
      </div>
    </div>
  </div>
</div>
<%end
  end %>
